@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --maroon: #670000;
  --white: #ffffff;
  --golden: #ffa920;
  --black: #000000;
  --grayish: #021337;
  --cream: #fff5e0;
  --light-gray: #8b8b8b;
  --lightest-gray: #3a3a3c;
  --slight-gray: #f5f5f5;
  --dark-purple: #2f2d42;
  --dim-gray: #d9d9d9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.slick-track {
  display: flex !important;
  justify-content: center !important;
  gap: 10px !important;
}
